<header>
    <div>

        <h1><a href="/"></a>Tienda de Motos</h1>
        
        <nav>
            <ul>
                <li><a href="/"></a>Inicio</li>
                <li><a href="/motos"></a>Motos</li>
            </ul>
        </nav>

    </div>
</header>