<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Tienda de Motos -</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <%- include('partials/header') %>

    <div>
        <h1>¡Bienvenido a nuestra tienda de motos!</h1>
        <p>Descubre las mejores motos y ofertas del mercado!!</p>

        <a href="/motos">Ver Motos</a>
    </div>

     <%- include('partials/footer') %>
</body>
</html>